<div class="graph">
  <center>
    <div v-if="successCreate === true">
      <div class="alert alert-success" role="alert" style="margin-right:20px; margin-left:20px;">
        <strong> Create success!!</strong>
      </div>
    </div>

    <div v-else-if="successCreate === false">
      <div class="alert alert-danger" role="alert" style="margin-right:20px; margin-left:20px;">
        <strong>Error!</strong>  Check SavedataIdCode and try again.
      </div>
    </div>

    SavedataIdCode:
    <input v-model="savedataIdCode" placeholder="A-000-0000-A">
    <button type="button" class="btn btn-success" @click="display(); successCreate=null">
      Create
    </button>
  </center>
</div>
